**/.DS_Store
**/__pycache__

# Drivers
ghostdriver.log
chromedriver

cache.json
**drivers
**.vscode
**venv

# C/C++ compilation products
*_wrap.c
*.o
*.so

# Build outputs
**.egg-info/
**/build
**/dist